<div class="shadow rounded-xl p-3 flex flex-col max-w-[372px] min-w-[372px] gap-2">
	<div class="flex flex-row gap-4">
		<div>
			<image-zoom-viewer [imageSrc]="product.Images[0]"></image-zoom-viewer>
		</div>

		<div class="flex flex-col gap-2 justify-start items-start">
			<div class="text-2xl">{{ product.Name }}</div>
			<div class="text-lg">
				<span class="mr-1">{{ product.PurchaseUnitQuantity }}</span>
				<span>{{ product.PurchaseUnitValue }}</span>
			</div>
			<div>
				<span class="text-xl">${{ product.UnitCost }}</span>
			</div>
			<mat-divider class="w-full"></mat-divider>
			<div>
				<span>{{ product.Description }}</span>
			</div>
		</div>
	</div>
	<div class="flex flex-row items-center justify-center w-full">
		<button mat-raised-button class="w-full add-cart-button">
			<app-icon-text
				[iconName]="'add_shopping_cart'"
				[text]="'Add To Cart'"
			></app-icon-text>
		</button>
	</div>
</div>
