<div class="h-full flex flex-col justify-center items-center">
	<div>
		<div class="mb-4 text-center">
			<span class="text-4xl">{{ title }}</span>
		</div>
		<div class="shadow rounded-2xl  border  p-8">
			<form [formGroup]="forgotPasswordForm">
				<div class="mb-4 w-60 text-sm">
					Enter your email address and we will send you a link to reset your
					password
				</div>
				<div class="flex flex-col gap-4">
					<div class="flex flex-col gap-2">
						<mat-form-field>
							<mat-label>Email address</mat-label>
							<input matInput formControlName="Email" />
							<mat-error>
								<form-validation-error
									[name]="'Email'"
									[control]="controls['Email']"
								></form-validation-error>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="mt-4">
					<button mat-raised-button class="w-full" color="primary">
						Send Reset Password Link
					</button>
				</div>
			</form>
		</div>
		<div class="mt-6">
			<span
				>Don't have an account?
				<span
					(click)="redirectToSignUp()"
					class="cursor-pointer hover:underline primary"
					>Sign Up</span
				></span
			>
		</div>
	</div>
</div>
