$navigation-min-width: 274px;

:root {
	--mdc-protected-button-container-height: 40px;
	--mat-toolbar-standard-height: 64px;
	--mat-list-active-indicator-color: #e5e5e5;
	--mdc-filled-button-container-height: 40px;
	--mat-dialog-content-padding: 20px 20px;
}
