@use "theme";
.shopping-cart-icon {
	position: absolute;
	top: calc(50vh - var(--mat-toolbar-standard-height));
	@media only screen and (min-width: 768px) {
		right: 0;
		margin-right: 6px;
	}
}

#shopping-cart-IconId ::ng-deep {
	#iconId {
		color: theme.$gs-white;
	}
}

.icon-button {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	min-width: 68px;
	padding: 0px;
	height: 68px;
	min-height: 68px;
}
