<div class="flex flex-col h-full shadow hover:overflow-x-hidden">
	<div class="flex flex-row justify-between items-center p-2">
		<div>
			<app-logo [logoClass]="'w-14 h-12'"></app-logo>
		</div>
	</div>

	<div class="flex flex-col items-center justify-center p-4">
		<app-avatar></app-avatar>

		<div class="mt-3 flex flex-col items-center justify-center">
			<div class="subtitle-1">{{ loggedInUser()?.Name }}</div>
			<div class="subtitle-2">{{ loggedInUser()?.Email }}</div>
		</div>
	</div>
	<mat-nav-list>
		@for (i of navigations; track i) {
			<mat-list-item
				[activated]="isCurrentRoute(i)"
				(click)="changeTab(i.FeatureName)"
			>
				<app-icon matListItemIcon [iconName]="i.Icon"></app-icon>
				<div matListItemTitle>{{ i.Title }}</div>
			</mat-list-item>
		}
	</mat-nav-list>
</div>
